In [4]:
s="sunny"

In [5]:
type(s)

str

In [6]:
l=[12,3.44,True,False,"pinku"]

In [7]:
type(l)

list

In [8]:
f=3.23

In [9]:
type(f)

float

In [10]:
t=(13,4.55,"sunny",True)

In [11]:
type(t)

tuple

In [12]:
#Q2

In [14]:
#var1=string

In [15]:
#var2=string

In [16]:
#var3=list

In [17]:
#var4=float

In [18]:
#Q3

In [20]:
#1
a=10
b=5
c=a/b
print(c)

2.0

In [21]:
#2
a=12
b=5
c=a%b
print(c)

2

In [22]:
#3
a=15
b=3
c=a//b
print(c)

5

In [23]:
#4
a=2
b=3
c=a**b
print(c)

8

In [24]:
#Q4
l=[1,2,3,2.44,4.3,"sunny","pinku",True,False,8,"sandeep"]

In [27]:
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'float'>
2.44
<class 'float'>
4.3
<class 'str'>
sunny
<class 'str'>
pinku
<class 'bool'>
True
<class 'bool'>
False
<class 'int'>
8
<class 'str'>
sandeep

In [31]:
#Q6
l = [17, 32, 9, 5, 21, 46, 33, 12, 7, 19, 15, 28, 37, 42, 10, 8, 24, 31, 18, 4, 13, 27, 39, 22, 11]

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

17 is not divisible by 3
32 is not divisible by 3
9 is divisible by 3
5 is not divisible by 3
21 is divisible by 3
46 is not divisible by 3
33 is divisible by 3
12 is divisible by 3
7 is not divisible by 3
19 is not divisible by 3
15 is divisible by 3
28 is not divisible by 3
37 is not divisible by 3
42 is divisible by 3
10 is not divisible by 3
8 is not divisible by 3
24 is divisible by 3
31 is not divisible by 3
18 is divisible by 3
4 is not divisible by 3
13 is not divisible by 3
27 is divisible by 3
39 is divisible by 3
22 is not divisible by 3
11 is not divisible by 3

In [33]:
#Q5
A = 100
B = 5
count = 0
while A % B == 0:
    A /= B
    count += 1
if count > 0:
    print(f"A is divisible by B, and it can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is divisible by B, and it can be divided 2 times.

In [34]:
#Q7

#Immutable data types:
#Immutable data types are those whose values cannot be changed once they are assigned. Any operation that appears to modify the value of an immutable object actually creates a new object with the modified value.

#exaple= string


# Mutable data types:
#mutable data types in contrast, allow their values to be modified after assignment. Operations directly modify the object without creating a new one
#example= list